* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  height: 100%;
}

body {
  font-family: sans-serif;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
}

.navbar-brand {
  padding: 0;
  padding-right: .5em;
  color: white !important;
}

.navbar-brand img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  padding: .2em;
  padding-right: .3em;
  padding-left: .3em;
}

.post h3 {
  margin: 0;
}

.post .media-object {
  width: 100px;
}

.post .media {
  margin-bottom: .5em;
}

.post .donate {
  margin: .5em 0;
}

.artist-info {
  padding-top: 1em;
}

.fb-comments iframe, .fb-comments, fb-comments iframe[style], .fb-comments span {
  width: 100% !important;
}

.video-container {
  background: #1B1B1B;
  color: white;
}

.video-container .video-title {
  margin-top: .5em;
  margin-bottom: .3em;
}

.rating {
  text-align: center;
}