<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target="#navbar-collapse">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png">
        <span>{{ site.title }}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {% for node in site.pages %}
        {% if node.navigation %}
        
        {% if page.url == node.url %}
        <li class="active"><a href="{{ node.url }}">{{node.title}}</a></li>
        {% else %}
        <li><a href="{{ node.url }}">{{node.title}}</a></li>
        {% endif %}

        {% endif %}
        {% endfor %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="fb-login" href="#fb-login"><i class="fa fa-facebook"></i> Sign in</a></li>
      </ul>

      <div class="navbar-text navbar-right fb-status">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/t1.0-1/c0.0.75.75/s50x50/1925194_695250477164984_636179345_t.jpg" class="picture">
        <span class="name">Phillip</span>
      </div>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-search search-only">
          <i class="search-icon glyphicon glyphicon-search"></i>
          <input type="text" class="form-control search-query">
        </div>
      </form>
    </div>
  </div>
</nav>