---
layout: default
---

<div class="row post">

	<div class="col-md-9 well video-container">
		<div class="row">
			<div class="col-md-12">
			<div class="video">
				<iframe src="http://www.youtube.com/embed/{{page.youtube}}?modestbranding=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8">
						<h3 class="video-title">{{ page.title }}</h3>

						<div>{{ content }}</div>
					</div>
					<div class="col-md-4">
						<a class="btn btn-block btn-lg btn-success donate">Donate</a>

						<div class="rating">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-3 artist-info">
		<div class="media">
		  <a class="pull-left" href="#">
		    <img class="media-object" src="{{page.artist_pic}}" alt="Artist's picture">
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading">{{page.artist_name}}</h4>
		    <h4 class="media-heading">Age: {{page.artist_age}}</h4>
		    <h4 class="media-heading">Genre: {{page.artist_genre}}</h4>
		    
		  </div>
		</div>

		{{page.artist_info}}

	</div>

</div>

<div class="row comments">
	<div class="col-md-9 well">
		<div class="fb-comments" data-numposts="5" data-colorscheme="light"></div>
	</div>
</div>