---
layout: default
---

<div class="row post">

	<div class="col-md-8 well video-container">
		<div class="row">
			<div class="col-md-12">
				<div class="video" data-video="{{ page.youtube }}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8">
						<h3 class="video-title">{{ page.title }}</h3>

						<div>{{ content }}</div>

						<h5>Rate:</h5>
						<div class="rating">
						</div>
					</div>
					<div class="col-md-4">
						<a class="btn btn-block btn-lg btn-success donate" 
						data-toggle="modal" data-target="#donate-modal">Donate</a>

						<div class="progress progress-striped donation-track">
						  <div class="progress-bar progress-bar-success amount-raised" 
						  style="width: 40%">$10</div>
						  <div class="progress-bar amount-left" style="width: 60%">$25 left</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-4 artist-info">
		<div class="media">
		  <div class="pull-left">
		  	{% if page.artist_pic %}
		    <img class="media-object" src="{{page.artist_pic}}" alt="Artist's picture">
		    {% else %}
		    <i class="media-object fa fa-user"></i> 
		  	{% endif %}
		  </div>
		  <div class="media-body">
		  	{% if page.artist_name %}
		    <h4 class="media-heading">{{page.artist_name}}</h4>
		    {% else %}
		    <h4 class="media-heading">Unknown Artist</h4>
		    {% endif %}

		    {% if page.artist_age %}
		    <h4 class="media-heading">Age: {{page.artist_age}}</h4>
		    {% endif %}

		    {% if page.artist_genre %}
		    <h4 class="media-heading">Genre: {{page.artist_genre}}</h4>
		    {% endif %}
		    
		  </div>
		</div>

		{{page.artist_info}}

		<div class="other-videos">
			<h4>Other Videos</h4>
			{% for post in site.related_posts %}
	    <div class="post media">
        <a href="{{post.url}}">
        <img class="img-rounded media-object pull-left" 
        src="http://img.youtube.com/vi/{{post.youtube}}/0.jpg" alt="Video">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="{{post.url}}">{{ post.title }}</a></h4>
          <p class="artist-name">By {{ post.artist_name }}</p>
        </div>
	    </div>
	  	{% endfor %}
		</div>

	</div>

</div>

<div class="row comments">
	<div class="col-md-8 well">
		<div class="fb-comments" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-numposts="5" data-colorscheme="light"></div>
	</div>
</div>

<div class="modal fade" id="donate-modal">
	<div class="modal-dialog">
    <div class="modal-content col-md-9">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Donate to {{ page.artist_name }}</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" 
         action="https://e-commerce.cartubank.ge/servlet/Process3DSServlet/3dsproxy_init.jsp"
         method="post">

          <input type="hidden" name="PurchaseDesc" value="WeHelp-4722!1!!ucnobi__ucnobi!!41!!5!!0">
          <input type="hidden" name="CountryCode" value="268">
          <input type="hidden" name="CurrencyCode" value="981">
          <input type="hidden" name="MerchantName" value="We help">
          <input type="hidden" name="MerchantURL" 
          value="http://www.wehelp.ge/view/content.php?id=41">
          <input type="hidden" name="MerchantCity" value="Tbilisi">
          <input type="hidden" name="MerchantID" value="000000008000761-00000001">
          <input type="hidden" name="xDDDSProxy.Language" value="01">

        	<div class="row">
	        	<div class="form-group col-md-9">
	        		<div class="input-group">
		        		<span class="input-group-addon">$</span>
		        		<input type="text" name="purchaseAmt" class="form-control" placeholder="1.00">
	        		</div>
	        	</div>
	        	<div class="form-group col-md-3" style="padding: 0;">
	        		<button class="btn btn-success">Donate</button>
	        	</div>
        	</div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>